<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>
	  <center>
	  <h1><font color="Orange">Enquries Management System</font></h1>
    <h2>Welcome to your dashboard</h2>
    <table>
		<tr>
			<td>Total Enquiries:</td>
			<td th:text="${dboard.totalEnq}"></td>
		</tr>
		<tr>
			<td>Enrolled Enquiries:</td>
			<td th:text="${dboard.enrollerEnq}"></td>
		</tr>
		<tr>
			<td>Total Enquiries:</td>
			<td th:text="${dboard.lostEnq}"></td>
		</tr>
	</table>
	<a href="/enquiry">Add Enquries</a>
	<a href="/Enquiries">View Enquries</a>
	<br><br>
    <a href="/" class="btn btn-danger">
		<button>Logout</button>
		</a>
		</center>
  </body>
</html>