<html>
	
		<div class="container">
		<center>
	  <h1><font color="Orange">Enquries Management System</font></h1>
		<h2>Retrive password </h2>
			<font color='red'><p th:text="${errmsg}"></p></font>
			<font color='green'><p th:text="${msg}"></p></font>
			
			<form action="/recover-pwd" >
				<table>
					<tr>
						<td>
							Enter Email:
						</td>
						<td><input type="email" name="email" required></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<input type="submit" value="submit" class="btn btn-primary">
						</td>
						<td>
							<a href="/">Login here</a>
						</td>
					</tr>
				</table>
			</form>
		
		</div>
		</center>
	</body>
</html>