<html>
	<body>
		<div class="container">
		<h1>
			Forgot Password
		</h1>
		<h2>Reset here..</h2>
			<font color='red'><p th:text="${errmsg}"></p></font>
			<font color='green'><p th:text="${msg}"></p></font>
			
			<form action="/recover-pwd" >
				<table>
					<tr>
						<td>
							Enter Email:
						</td>
						<td><input type="email" name="email" required></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<input type="submit" value="submit" class="btn btn-primary">
						</td>
						<td>
							<a href="/">Login here</a>
						</td>
					</tr>
				</table>
			</form>
		
		</div>
	</body>
</html>